@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-arrow {
    font-size: 24px;
    color: white;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-50%) translateX(10px);
    }
  }